* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  scroll-behavior: smooth;
  --ac-color: #48555b;
  --blue: #00a4e5;
}

$accent-c: #48555b;
$blue-c: #00a4e5;

.title {
  color: $accent-c;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
}
.line {
  width: 50px;
  height: 2px;
  background-color: $blue-c;
  margin-top: 10px;
}
.blue {
  color: $blue-c;
}

.desc {
  color: $accent-c;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.btn {
  background-color: $blue-c;
  cursor: pointer;
  max-width: 150px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn:hover {
  background-color: #00b7ff;
}

// --------------------------

.header {
  background: url(../img/header-bg.png) center center/cover no-repeat;
  height: 769px;
  &__container {
  }

  &__logo {
    padding-top: 41px;
    text-align: center;
  }

  &__caption {
    margin-top: clamp(12.5rem, 9.705rem + 15.97vw, 19.688rem); // 317
    // margin-bottom: 222px;
  }

  &__caption-title {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: clamp(2.813rem, 1.783rem + 5.88vw, 3.75rem);
    font-weight: 400;
    line-height: normal;
    // letter-spacing: 5.709px;
  }

  &__caption-desc {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &__desc {
    margin-top: 200px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;
    margin-top: 221px;
  }
}

.nav {
  border: 1px solid #e6e6e6;
  &__container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 535px) {
      justify-content: center;
    }
  }

  &__logo {
    @media (max-width: 535px) {
      display: none;
    }
  }

  &__menu {
  }

  &__menu-body {
    display: flex;
    gap: clamp(0.625rem, -1.701rem + 11.63vw, 2.188rem);
  }

  &__menu-item {
  }

  &__menu-link {
    color: $accent-c;
    font-size: clamp(0.625rem, 0.488rem + 0.78vw, 0.75rem);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
    transition: 0.2s;
    &:hover {
      color: $blue-c;
    }
  }
}

.story {
  margin-top: 57px;

  &__title {
  }

  &__title-text {
    text-align: center;
  }

  &__title-line {
    margin: 10px auto 0;
  }

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1060px) {
      flex-direction: column;
    }
  }

  &__content-text {
    max-width: 405px;

    &__title {
      color: $accent-c;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.188px;
    }

    &__desc {
      margin-top: 30px;
    }
  }

  &__content-images {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
    display: flex;
    gap: clamp(0.313rem, -4.375rem + 16.67vw, 1.25rem);
    @media (max-width: 1060px) {
      margin-top: 20px;
    }
    @media (max-width: 650px) {
      gap: 10px;
    }
    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: repeat(2, 150px);
    }
    @media (max-width: 350px) {
      grid-template-columns: 1fr;
    }
  }

  &__content-image1 {
    background: url(../img/first.png) center center no-repeat;
    width: 140px;
    height: 222px;
    padding-left: 10px;
    padding-top: 10px;
  }
  &__content-image2 {
    background: url(../img/second.png) center center no-repeat;
    width: 140px;
    height: 222px;
    padding-left: 10px;
    padding-top: 10px;
  }
  &__content-image3 {
    background: url(../img/third.png) center center no-repeat;
    width: 140px;
    height: 222px;
    padding-left: 10px;
    padding-top: 10px;
  }
  &__content-image4 {
    background: url(../img/third.png) center center no-repeat;
    width: 140px;
    height: 222px;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.our {
  margin-top: 120px;
  &__container {
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__title-header {
  }

  &__title-header-title {
  }

  &__title-header-line {
  }

  &__title-content {
    display: flex;
    gap: 30px;
  }

  &__title-content-desc {
    color: $accent-c;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
    @media (max-width: 840px) {
      display: none;
    }
  }

  &__title-content-btn {
    padding: 11px 29px;
  }

  &__content {
    margin-top: 80px;
  }

  &__content-cards {
    display: flex;
    justify-content: space-between;
    @media (max-width: 965px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__content-card {
    width: clamp(18.125rem, 0.688rem + 30vw, 21.875rem);
    height: 330px;
    border: #e6e6e6 1px solid;
    padding: 38px 22px;
    h5 {
      color: #48555b;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.427px;
      margin-top: 25px;
      margin-bottom: 13px;
    }
    @media (max-width: 319px) {
      max-width: 250px;
      min-height: 350px;
    }
  }
}

.want {
  margin-top: 135px;
  background: url(../img/bg.png) center/cover no-repeat;
  height: 498.24px;
  &__header {
    padding-top: 110px;
  }
  &__title {
    color: $accent-c;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
  }

  &__btn {
    padding: 11px 26px;
    margin: 35px auto 0;
  }
}

.singup {
  margin-top: -3px;

  background-color: #171819;
  min-height: 100px;
  display: flex;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    @media (max-width: 750px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__sing {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
    @media (max-width: 400px) {
      margin-top: 20px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    @media (max-width: 750px){
      margin-bottom: 20px;
  }
    @media (max-width: 400px) {
      flex-direction: column;
    }

  }

  &__input-text {
    max-width: 250px;
    height: 40px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    color: $accent-c;
    resize: none;
    outline: none;
    padding: 10px 0 0 16px;
  }

  &__input-btn {
    padding: 11px 49px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    min-width: 170px;

  }
}

.footer {
  background-color: #141a20;
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  img {
    margin-top: 20px;
    margin-bottom: 15px;
    @media (max-width: 600px){
        margin-bottom: 0;
    }
  }
  &__list {
    margin-top: 41px;
    margin-bottom: 40px;
    @media (max-width: 600px){
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }

  &__list-item {
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.846px;
    margin-top: 5px;
    a {
      color: #fff;
      transition: 0.2s;
      &:hover {
        color: $accent-c;
      }
    }

    &__head {
      color: #fff;
      font-size: 11px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.846px;
      margin-bottom: 15px;
    }
  }
}
.pd {
  padding-top: 30px;
  @media (max-width: 600px){
      padding-top: 0px;
  }
}

.white {
  color: #fff;
  max-width: 250px;
  @media (max-width: 600px){
      display: none;
  }
}

.copy {
  background-color: #171819;
  height: 60px;
  display: flex;
  align-items: center;
  &__container {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.846px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__copy {
    
  }

}
